body, html {
  height: 100%;
  margin: 0;
}
.sidebar {
  height: 100vh;
  background-color: #343a40;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sidebar .btn {
  margin-bottom: 1rem;
  width: 100%;
}
.sidebar .btn:last-child {
  margin-bottom: 0;
}
.sidebar .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.sidebar .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
.content {
  padding: 1rem 2rem;
  flex-grow: 1;
}
.container-flex {
  display: flex;
  height: 100vh;
}
